h1 {
    font-size: 45px;
    text-align: center;
}

#list ol{
   
    margin:0px;
    padding:20px;
  
}
#list {
    display:grid;
    grid-template-columns: 200px 1fr;
}
h3 {
    font-size: medium;
    
}
a{
    text-decoration: none;
    color:burlywood;
}